# Load and consider modules, JSONs, and DFs

In [1]:
# import modules
import json
import pandas as pd
from pandas.io.json import json_normalize

In [8]:
# 1. Load JSON: df
df = pd.read_json('world_bank_projects.json')

In [9]:
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [10]:
df[['countryname', 'project_name']].countryname.value_counts()[:10]

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [11]:
df.groupby('country_namecode').id.nunique().sort_values(ascending=False).head(10)

country_namecode
People's Republic of China!$!CN         19
Republic of Indonesia!$!ID              19
Socialist Republic of Vietnam!$!VN      17
Republic of India!$!IN                  16
Republic of Yemen!$!RY                  13
Nepal!$!NP                              12
People's Republic of Bangladesh!$!BD    12
Kingdom of Morocco!$!MA                 12
Africa!$!3A                             11
Republic of Mozambique!$!MZ             11
Name: id, dtype: int64

# Objective 1
Find the 10 countries with most projects

In [12]:
# Africa is a continent, not a country, so it must be disregarded in order to complete Task 1.
print(df['countryshortname'].value_counts().head(10))

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [13]:
# This output completes Task 1.
df_countries = df[df.countryshortname != 'Africa']
print(df_countries['countryshortname'].value_counts().head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Mozambique            11
Pakistan               9
Name: countryshortname, dtype: int64

# Objective 2
Find the top 10 major project themes (using column 'mjtheme_namecode')

#

In [23]:
print(df['mjtheme_namecode'])

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

In [15]:
print(df['mjtheme_namecode'][0])
print(df['mjtheme_namecode'][0][0])
print(df['mjtheme_namecode'][0][0]['name'])

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]
{'code': '8', 'name': 'Human development'}
Human development

In [16]:
# Lost-cause for loop
# for x, y, name in df.mjtheme_namecode:
#     dict_count_task2 = {}

In [32]:
# A Groupby doesn't work.
# task2groupby = df.groupby('mjtheme_namecode', as_index = False)
# print(task2groupby)

# print(df.groupby("Product_ID", as_index=False)['Purchase'].mean())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12100e890>

In [20]:
# Task 2 answer by name count. There are 11 names, and one name is an empty string.
task2df = pd.json_normalize(json_data, 'mjtheme_namecode')
task2df['name'].value_counts().head(11)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [40]:
# Task 2 answer by code count. The count differs from counting by names.
task2df['code'].value_counts().head(11)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

# Objective 3
In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [ ]:
print(df['mjtheme_namecode'][0])
print(df['mjtheme_namecode'][0][0])
print(df['mjtheme_namecode'][0][0]['name'])

for item in df['mjtheme_namecode']:
    item[x]['name'] 
    
    # if item[x]['name'] == '':
        # if item[x]['code'] == '8':
            # item[x]['name'] = 'Human development'
            
    # But what would be a managble way to get the name other than a big for loop of
    # if item[x]['code'] == '8', list8.append(item[x]['code'])
    
    # We talked about keeping it vectorized:
    # count_dict = {}
    # def function(df):
    #   df.x.map()
    
    # Cheat-code: turn to NaN, use pd.fillna()

In [ ]:
##################################################################################################################

In [ ]:
## A groupby

In [81]:
df.groupby('country_namecode').id.nunique().sort_values(ascending=False).head(10)

country_namecode
People's Republic of China!$!CN         19
Republic of Indonesia!$!ID              19
Socialist Republic of Vietnam!$!VN      17
Republic of India!$!IN                  16
Republic of Yemen!$!RY                  13
Nepal!$!NP                              12
People's Republic of Bangladesh!$!BD    12
Kingdom of Morocco!$!MA                 12
Africa!$!3A                             11
Republic of Mozambique!$!MZ             11
Name: id, dtype: int64

In [12]:
###First way to do problem3

In [63]:
with open('world_bank_projects.json') as f:
    raw = json.load(f)
    

# seems like a one to many relationship between themes (name and code) and id
df_themes = json_normalize(raw, 'mjtheme_namecode', ['id'])
# some projects seem to have multiple theme code's
df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(10)
# so to find top themes we will account for this one to many relationship
print('Top 10 Major World Bank Project Themes:')
df_themes.name.value_counts().head(10)
# looks like [name] missing for some row

Top 10 Major World Bank Project Themes:

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [64]:
keys = df_themes.drop('id', axis=1)[df_themes.name != ''].drop_duplicates().code.values
values = df_themes.drop('id', axis=1)[df_themes.name != ''].drop_duplicates().name.values

dictionary = dict(zip(keys, values))

In [77]:
def fixBlanks(row):
    if row['name'] == '':
        return row['name'] == dictionary.get(row['code'])
    else:
        return row['name']

In [79]:
df_themes.name = df_themes.apply(fixBlanks,axis=1)

In [80]:
df_themes.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
False                                           122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [17]:
##shortcut method

In [16]:
import numpy as np
df_themes2 = df_themes.copy()
df_themes2[df_themes2.name == ''] = np.nan
df_themes2 = df_themes2.sort_values(['code'],ascending=[1])
df_themes2.name.fillna(method='ffill',inplace=True)
df_themes2.name.value_counts(dropna=False)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Urban development                               169
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64