# Load and consider modules, JSONs, and DFs

In [1]:
# import modules
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# 1. Load JSON: df
df_pd_read_json = pd.read_json('/Users/bentaylor/Documents/Springboard/Mini Projects/Mini Project 1/data/world_bank_projects.json')

In [3]:
# 2.2. Load JSON: json_data
with open("/Users/bentaylor/Documents/Springboard/Mini Projects/Mini Project 1/data/world_bank_projects.json") as json_file:
    json_data = json.load(json_file)

In [4]:
print(type(json_data))

<class 'list'>

In [5]:
df = pd.read_json("/Users/bentaylor/Documents/Springboard/Mini Projects/Mini Project 1/data/world_bank_projects.json")

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.columns)

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

# Objective 1
Find the 10 countries with most projects

In [8]:
# Africa is not a country, so it must be disregarded in order to complete objective 1.
print(df['countryshortname'].value_counts().head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [9]:
# This output completes objective 1.
df_countries = df[df.countryshortname != 'Africa']
print(df_countries['countryshortname'].value_counts().head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Brazil                 9
Name: countryshortname, dtype: int64

# Objective 2
Find the top 10 major project themes (using column 'mjtheme_namecode')

#

In [10]:
print(df.id.head(2))

0    P129828
1    P144674
Name: id, dtype: object

In [11]:
# Explore df structure: list of dictionaries
print(df['mjtheme_namecode'].head(1))
print(df['mjtheme_namecode'][0])
print(df['mjtheme_namecode'][0][0])
print(df['mjtheme_namecode'][0][0]['name'])

0    [{'code': '8', 'name': 'Human development'}, {...
Name: mjtheme_namecode, dtype: object
[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]
{'code': '8', 'name': 'Human development'}
Human development

In [12]:
# Task 2 answer by name count. There are 11 names, and one name is an empty string.
task2df = pd.json_normalize(json_data, 'mjtheme_namecode')
task2df['name'].value_counts().head(11)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

In [13]:
# Task 2 answer by code count. The count differs from counting by names.
task2df['code'].value_counts().head(11)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

# Objective 3
In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [14]:
df_themes = pd.json_normalize(json_data, 'mjtheme_namecode', ['id'])
print(df_themes)

     code                                      name       id
0       8                         Human development  P129828
1      11                                            P129828
2       1                       Economic management  P144674
3       6     Social protection and risk management  P144674
4       5                     Trade and integration  P145310
...   ...                                       ...      ...
1494   10                         Rural development  P117243
1495    9                         Urban development  P126321
1496    8                         Human development  P126321
1497    5                     Trade and integration  P126321
1498    4  Financial and private sector development  P126321

[1499 rows x 3 columns]

In [15]:
## One id can contain many codes.

df_themes_grpby = df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(5)
print(type(df_themes_grpby)) # .nunique() signifies two functions, wherein one is performed
    # on the data type DataFrame while the other on Series. This is Series.nunique().
print(df_themes_grpby)

df_themes_dbl_index_grpby = df_themes.groupby('id').name.value_counts().head(10)
print(df_themes_dbl_index_grpby)

<class 'pandas.core.series.Series'>
id
P121152    5
P129652    4
P130749    4
P128284    4
P128573    4
Name: code, dtype: int64
id       name
P075941  Financial and private sector development        1
         Rural development                               1
         Social dev/gender/inclusion                     1
         Trade and integration                           1
P085621  Environment and natural resources management    3
         Social dev/gender/inclusion                     1
P086592  Rural development                               3
         Environment and natural resources management    1
P094183  Trade and integration                           2
         Rural development                               1
Name: name, dtype: int64

In [16]:
print(df_themes.name.value_counts().head(10))

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [17]:
print(df_themes.head(4))

  code                                   name       id
0    8                      Human development  P129828
1   11                                         P129828
2    1                    Economic management  P144674
3    6  Social protection and risk management  P144674

In [18]:
keys = df_themes.drop('id', axis=1)[df_themes.name != ''].drop_duplicates().code.to_numpy()
values = df_themes.drop('id', axis=1)[df_themes.name != ''].drop_duplicates().name.to_numpy()

themes_dict = dict(zip(keys, values))

# In making keys, did [df_themes.name != ''].drop_duplicates() drop all but one row where name = ''?
# How is that helpful?

In [19]:
print(themes_dict)

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [20]:
keys = df_themes.drop('id', axis=1).code.to_numpy()
values = df_themes.drop('id', axis=1).name.to_numpy()

themes_dict2 = dict(zip(keys, values))
print(themes_dict2)

{'8': 'Human development', '11': 'Environment and natural resources management', '1': '', '6': '', '5': 'Trade and integration', '2': 'Public sector governance', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [21]:
def fixBlanks(row):
    if row['name'] == '':
        code = themes_dict.get(row['code'])
        return code
    else:
        return row['name']

In [22]:
print(df_themes.head(2))

df_themes.name = df_themes.apply(fixBlanks,axis=1)

  code               name       id
0    8  Human development  P129828
1   11                     P129828

In [23]:
df_themes.name.value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64